html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato';
  font-size: 40px;
  font-weight: 300;
  color: #313A42;
}

#easel {
  position: relative;
}

a {
  color: #7aabe0;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #7aabe0;
}

p {
  font-size: 16px;
}

h1, h2, h3, p {
  text-align: center;
}

h1 {
  font-weight: 300;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h1 .logo {
  font-family: 'Lobster';
}

.outer {
  background: #E2EFF5;
  padding: 56px 100px 144px 100px;
  width: 1024px;
  height: 512px;
  position: relative;
  margin: auto;
  max-width: 1024px;
}

.inner {
  background: #617282;
  height: 312px;
  border-radius: 5px;
  text-align: left;
}

img {
  margin-top: -30px;
  margin-left: 30px;
  width: 140px;
  height: 140px;
  border-radius: 140px;
  text-align: left;
}

.text {
  position: absolute;
  left: 290px;
  bottom: 45px;
  text-align: left;
  font-size: 36px;
}

.bold {
  font-family: 'Lato';
  font-size: 40px;
  font-weight: 700;
  margin-right: 18px;
  cursor: default;
}

.hidden {
  visibility: hidden;
}

.step-one {
  text-align: center;
}

.step-one .at {
  font-size: 24px;
}

.twitter-input {
  font-weight: 300;
  padding: 5px;
  width: 360px;
  outline: none;
  font-size: 24px;
  border: 1px solid #ddd;
  margin-left: 5px;
}

.twitter-input:focus {
  border: 1px solid #7aabe0;
}

.editable {
  font-size: 40px;
  font-weight: 300;
  color: #313A42;
  font-family: 'Lato';
  background: none;
  border: none;
  outline: none;
}

.name .editable {
  width: 460px;
}

.title .editable {
  width: 620px;
  font-size: 36px;
}

.canvas-wrapper {
  text-align: center;
}

.about {
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #7aabe0;
}

.about-modal-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 999998;
}

.about-modal {
  position: relative;
  display: fixed;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  width: 480px;
  padding: 20px;
  text-align: center;
  color: #000;
  overflow: scroll;
  font-size: 16px;
  line-height: 1.3;
}