html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato';
  font-size: 40px;
  font-weight: 300;
  color: #313A42;
  margin: 0;
}

.header {
  color: white;
  background: #313A42;
  padding: 40px 0;
}

h1, h2 {
  margin: 0 0 10px 0;
  font-weight: 300;
}

#easel {
  position: relative;
}

a {
  color: #7aabe0;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #7aabe0;
}

p {
  font-size: 16px;
}

h1, h2, h3, p {
  text-align: center;
  font-weight: 300;
}

h1 {
  font-weight: 400;
  font-size: 44px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h1 .logo {
  font-family: 'Lobster';
  font-size: 48px;
}

.component-wrapper {
  position: relative;
  margin-bottom: 80px;
}

.outer {
  background: #a9b3b7;
  padding: 56px 100px 144px 100px;
  width: 1024px;
  height: 512px;
  position: relative;
  margin: auto;
  max-width: 1024px;
}

.inner {
  background: #242b31;
  height: 312px;
  border-radius: 5px;
  text-align: left;
}

.avatar-wrapper {
  position: absolute;
  width: 148px;
  height: 148px;
  bottom: 28px;
  left: 126px;
  padding: 4px;
  border-radius: 8px;
  background: white;
  box-shadow: 1px 2px 2px #777;
}

img {
  width: 140px;
  height: 140px;
  text-align: left;
  border-radius: 5px;
}

.text {
  position: absolute;
  left: 290px;
  bottom: 40px;
  text-align: left;
  font-size: 36px;
}

.bold {
  font-family: 'Lato';
  font-size: 40px;
  font-weight: 700;
  margin-right: 18px;
  cursor: default;
}

.hidden {
  display: none;
}

.step-1 {
  text-align: center;
}

.step-1 .at {
  font-size: 24px;
}

.twitter-input {
  font-weight: 300;
  padding: 5px;
  width: 360px;
  outline: none;
  font-size: 24px;
  border: 1px solid #ddd;
  margin-left: 5px;
}

.twitter-input:focus {
  border: 1px solid #7aabe0;
}

.editable {
  font-size: 40px;
  font-weight: 300;
  color: #313A42;
  font-family: 'Lato';
  background: none;
  border: none;
  outline: none;
  background: #E2EFF5 !important;
}

.name .editable {
  width: 100px;
}

.title .editable {
  margin-top: 5px;
  width: 620px;
  font-size: 36px;
}

.actions {
  text-align: center;
  font-size: 24px;
  margin: 24px 0;
}

.canvas-wrapper {
  text-align: center;
}

.about {
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #7aabe0;
}

.about-modal-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 999;
}

.about-modal {
  position: relative;
  display: fixed;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  width: 480px;
  padding: 20px;
  text-align: center;
  color: #000;
  font-size: 16px;
  line-height: 1.3;
}

.outer-appear {
  background: #E2EFF5;
  transition: background 1.4s ease-in;
}

.outer-appear.outer-appear-active {
  background: #a9b3b7;
}

.inner-appear {
  background: #313A42;
  transition: background 1.4s ease-in;
}

.inner-appear.inner-appear-active {
  background: #242b31;
}

.callout {
  position: absolute;
  color: white;
  font-size: 14px;
  background: #B74F1C;
  border: 4px solid #B74F1C;
  border-radius: 4px;
}

.callout-name {
  bottom: 100px;
  left: 925px;
}

.callout-title {
  bottom: 50px;
  left: 925px;
}

.callout:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(183, 79, 28, 0);
  border-right-color: #B74F1C;
  border-width: 12px;
  margin-top: -12px;
}

.callout-appear {
  opacity: 0.01;
  transition: opacity 1.2s cubic-bezier(0.950, 0.050, 0.795, 0.035);
}

.callout-appear.callout-appear-active {
  opacity: 1;
}

.component-appear {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.component-appear.component-appear-active {
  opacity: 1;
}

.component-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.component-leave.component-leave-active {
  opacity: 0.01;
}

.button {
  display: inline-block;
  color: white;
  margin: auto;
  text-align: center;
  padding: 0 16px;
  background: #69747D;
  line-height: 40px;
  border-radius: 3px;
  position: relative;
  border: 0;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  -webkit-appearance: none;
}

.button:hover {
  border-bottom: 0px;
  background: #545C63;
}

.button:focus {
  outline: 0;
}

.generate-button {
  margin-left: 10px;
  background: #C9640F;
}

.generate-button:hover {
  background: #AF570D;
}

.error {
  color: #B00400;
  font-weight: 700;
}